.col-sm-9{
    margin-left: 15%;
}
.actor-id{
    display: none;
}
.delete-actor{
    float: right;
}
.modal-footer-actor{
    border-top-color: white;
}
.modal-header-actor{
    border-bottom-color: white;
}
.img-container{
    margin-right: 0;
}
.img-edit{
    background-color: white;
    float: left;
}
.initial{
    display: inline-block;
}
.modal-title-actor{
    text-align: center;
}
.modal-dialog-actor{
    width: 500px;
}
.save-img{
    display: none;
    margin-top: -40px;
    margin-left: 200px;
}
.content{
    height: 230px;
}
.cancel-img{
    margin-top: -30px;
    display: none;
}
.form-img{
    margin-bottom: 0px;
    display: none;
}