blockquote {
    height: inherit;
    font-size: 13px;
    border-left: white;
}
.quote{
    height: 180px;
    overflow: hidden;
    margin-bottom: -10px;
}
.title{
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
}
.review-container{
    margin-top: 20px;
    margin-left: -20px;
}
.movie-title{
    margin-top: 0px;
}
.button-main{
    border: 1px #79896D solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: -5px;
}
.button-main:hover{
    background-color: #2e6da4;
    text-decoration: none;
    color: white;
}
.movie-title>a{
    color: #0B0A0A;
}
h5,h6{
    margin-top: 0;
    display: inline-block;
}
.review{
    font-style: italic;
}
.user-login{
    margin-right: 20px;
}