.thumbnail img {
    width: 30%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.row{
    margin-left: 155px;
}
.review, .main{
    margin-left: 0;
}
.img-responsive{
    display: inline-block;
}
ul{
    display: inline-block;
}
.list-group-item {
    padding: 10px 30px;
    border: 0;
}
.h4-rating{
    display: inline;
    margin-left: 10px;
}
.h4-title{
    display: inline-block;
}
.p-rating{
    display: inline-block;
}
.edit{
    padding-left: 5px;
    background-color: white;
}
.glyphicon-edit{
    top: -2px;
}
#img-edit{
    vertical-align: top;
}
#movie-id{
    display: none;
}
#form-year{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -10px;
}
#save-edit-year{
    display: none;
    color: #000;
}
#cancel-edit-year{
    display: none;
}
#year-text{
    color: #0B0A0A;
}
#year-text:hover{
    text-decoration: none;
    color: #0B0A0A;
}